<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/file/progress.css">
</head>
<body>
<div class="progreso">
  <div class="circulo activo">
    <span class="etiqueta">1</span>
    <span class="titulo">Personal</span>
  </div>
  <label class="barra hecho"></label>
  
  <div class="circulo activo">
    <span class="etiqueta">2</span>
    <span class="titulo">Address</span>
  </div>
  <span class="barra hecho"></span>
  <div class="circulo activo">
    <span class="etiqueta">3</span>
    <span class="titulo">Payment</span>
  </div>
  <span class="barra"></span>
  <div class="circulo activo">
    <span class="etiqueta">4</span>
    <span class="titulo">Review</span>
  </div>
  <span class="barra"></span>
  <div class="circulo activo">
    <span class="etiqueta">5</span>
    <span class="titulo">Finish</span>
  </div>
</div>

<button type="button" id="" class="" ></button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</body>
</html>